.navbar {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items to the left */
  background-color: #ffffff; /* Background color */
  color: #fff; /* Text color */
  padding: 10px;
  width: 50px; /* Set the width of the navbar */
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  border-right: 1px solid rgb(219, 219, 219); /* Add a 1px black border to the right */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navItem {
  padding: 20px 0; /* Space between items */
  width: 100%; /* Ensure the hover effect covers the full width of the navbar */
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth background color transition */

  &:hover {
    background-color: #f0f0f0; /* Light grey hover background color */
  }

  a {
    text-decoration: none;
    color: #000; /* Adjust the default text color */
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition */

    &:hover {
      color: #4caf50; /* Green hover color for text */
    }
  }
}

.Logo {
  width: 50px;
  padding: 0;
  margin-bottom: 40px; /* Space between logo and items */
}

.search-toggle {
  cursor: pointer;
}