.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  background-color: #222; /* Dark background color */
  color: #fff; /* Text color */
  padding: 10px;
  height: 50px; /* Adjusted height for more space */
  
  .navItem {
    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #4caf50; /* Green hover color */
      }
    }
  }

  .Logo {
    width: 50px;
    padding: 0;
    margin: 0;
  }
}
