.post {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 15px;
  max-width: 500px;
  width: 100%;
  font-family: Arial, sans-serif;
  min-height: 140px;

  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

  .post-pfp {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      margin: 0;
      color: #333;
      font-weight: bold;
      font-size: 14px;

      &:last-child {
        font-weight: normal;
        color: #999;
        font-size: 12px;
        margin-left: auto;
      }
    }
  }

  .post-content {
    margin-bottom: 15px;
    p {
      margin: 0;
      color: #555;
      font-size: 14px;
      line-height: 1.6;
    }
  }

  .post-like {
    display: flex;
    align-items: center;

    .toggle {
      position: relative;
      margin-right: 10px;

      input[type="checkbox"] {
        display: none;
      }

      label {
        cursor: pointer;
        svg {
          width: 24px;
          height: 22px;

          path {
            fill: #ccc;
            transition: fill 0.2s ease;
          }
        }
      }

      input[type="checkbox"]:checked + label svg path#initial {
        fill: #e74c3c;
      }

      input[type="checkbox"]:checked + label svg path#stroke {
        stroke: #e74c3c;
      }
    }

    .like-count {
      font-size: 14px;
      color: #333;
    }
  }
}