.search-component {
  position: fixed;
  top: 0;
  left: -300px; /* Initially off-screen */
  width: 300px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transform: translateX(-100%); /* Start off-screen */
  animation: slideOut 0.3s forwards; /* Default to slide out */

  &.open {
    animation: slideIn 0.3s forwards; /* Slide in when open */
  }

  @keyframes slideIn {
    from {
      transform: translateX(10%); /* Start off-screen */
    }
    to {
      transform: translateX(108%); /* End at the final position */
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(108%); /* Start at the final position */

    }
    to {
      transform: translateX(0); /* End off-screen */
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    button {
      padding: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
}